.headerContainer {
  background-image: linear-gradient(180deg, rgba(62, 69, 89, 1), rgba(37, 42, 54, 1));
  display: flex;
  flex-direction: row;
  margin: 0em 0em 1em 0em;
  padding: 1em;
}

.headerSubContainer {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.headerSubContainerLeft {
  justify-content: flex-start;
}

.headerSubContainerRight {
  justify-content: flex-end;
}

.headerLink {
  color: rgba(240, 240, 240, 1);
  font-family: 'Roboto';
  margin: 0em .35em;
}