.defaultButton {
  align-items: center;
  border: 0px solid #FFFFFF;
  border-radius: 0.25em;
  background-color: rgba(34, 62, 140, 1);
  color: rgba(240, 240, 240, 1);
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 10pt;
  max-width: 15%;
  padding: 1em;
  width: 90%;
}

.defaultButton:hover, .defaultButton:active {
  background-image: linear-gradient(0deg, rgba(20, 37, 84, 1), rgba(34, 62, 140, 1));
}
